<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         executionOrder="random"
         failOnWarning="false">
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
    <coverage>
        <report>
            <clover outputFile="./clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Hostfact API Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="HOSTFACT_URL" value="test://hostfact.tld/Pro/apiv2/api.php"/>
        <env name="HOSTFACT_KEY" value="abcdefghijklmnopqrstuvwxyz0123456789"/>
    </php>
</phpunit>
